/* --RESET-- */

body, div, dl, dt, dd, ol, h1, h2, h3, h4, h5, h6, img, pre, blockquote, li, ul, p, th, td, form,fieldset,label,input { margin: 0; padding: 0; border: 0; }
.clear { clear:both; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;}
input {border:none;}
:focus {outline: 0;}
body {line-height: 1;}
ol, ul {list-style: none;}
table, td, th {vertical-align:middle;}
caption, th, td {text-align:left;font-weight:normal;}
a img, img {border:none;text-decoration:none !important }
a:hover { text-decoration:none; }
#header a { text-decoration:none} 
input {	border:none!important;}

.wrapper {
	background-image:url(../images/landing_images/landing_bg.jpg);
	background-position:top;
	background-repeat:repeat-x;
}

.header{ 
	height:80px;
	background-repeat:no-repeat;
	background-position:center bottom;
	background-image:url(../images/landing_images/header.jpg); 
}

.content {
	width:750px;
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	font-family:Arial, Helvetica, sans-serif;
}

.suggested_steps{
	font-size: 24px;
	color: #980000;
	height:28px;
	margin-bottom:18px;
}

.footer-links {
	max-width:750px;
	padding:12px 0px 12px 0px;
	margin-left: auto;
	margin-right:auto;
	border-bottom: 1px #000 solid;
	height:18px;
	font-size:11px;
	font-weight:bold;
	margin-bottom:10px;
}

#ul-second-links {
	width:750px;
	margin:0 auto;
}

#ul-second-links li{ 
	display:inline;
}

#ul-second-links li .f-links {
	display:block;
	width:auto;
	float:left;
	text-align:center;
}


#ul-second-links .pause {
	display:block;
	width:26px;
	float:left;
	text-align:center;
  	color:#06F;
}

a.f-links {
	text-decoration:none;
	color:#06F;
}

a.f-links:hover {
	text-decoration:underline;
}
/* -- Footers -- */
.footer {
	border-style:solid;
	width:750px;
	margin-left:auto;
	margin-right:auto;
	font-family:Arial, Helvetica, sans-serif;
}

.footer-one{
	text-align:center;
	font-size: 11px;
	padding-top: 8px;
	color: #969696
}


.footer-two{
	text-align:center;
	font-size:11px;
	font-weight:bolder;
	padding-top:2px;
	color:#969696;
	margin:0 auto;
	margin-left:auto;
	margin-right:auto;
	width:200px;
	height:20px;
}

.footer-three{
	padding-top:4px;
	margin: 0 auto;
	margin-left:auto;
	margin-right:auto;
	width:90px;
}

a.privacy{ 
	color:#7d7d7d;
	text-decoration:none;
	display:block;
	min-width:100px;
	float:left;
}

a.privacy:hover{
	text-decoration:underline;
}

a.dealer{
	color:#7d7d7d;
	text-decoration:none;
	display:block;
	min-width:100px;
	float:left;
}

a.dealer:hover {
	text-decoration:underline;
}