<!DOCTYPE html>
<html>
    <head>
        <title>Autoewb - Home</title>
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
        <link href="../../public/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../public/css/custom.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="../../public/js/vendors/bootstrap.min.js"></script>

    </head>
    <body>
        <div id="step1" class="container step">
            <div class="row header">
                <div class="col-xs-6"><img src="../../public/img/logo-autoweb.png"></div>
                <div class="col-xs-6 text-right slogan">
                    Rebates & Pricing. Find Every Possible Discount
                </div>
            </div>
    	
            <div class="arrow-left">
                <img src="../../public/img/arrow-absolutly-free.gif" class="arrow-big">
            </div>
            
        	<h1 class="title-home colored">Autoweb | Take Your Chance to Save Big!</h1>

            <div class="row">
            <div class="col-xs-4">
            
                <div class="col-xs-10 box">
            
            	   <h3 class="colored">Manufacturer Rebate Quick Links:</h3>
                
                    <ul class="list-unstyled small two-columns">
                        <li><a href="#">Acura</a></li>
                        <li><a href="#">BMW</a></li>
                        <li><a href="#">Cadillac</a></li>
                        <li><a href="#">Chrysler</a></li>
                        <li><a href="#">Ferrari</a></li>
                        <li><a href="#">Ford</a></li>
                        <li><a href="#">Honda</a></li>
                        <li><a href="#">Infiniti</a></li>
                        <li><a href="#">Jeep</a></li>
                        <li><a href="#">Land Rover</a></li>
                        <li><a href="#">Lincoln</a></li>
                        <li><a href="#">Mercedes-Benz</a></li>
                        <li><a href="#">Mitsubishi</a></li>
                        <li><a href="#">Porsche</a></li>
                        <li><a href="#">Scion</a></li>
                        <li><a href="#">Subaru</a></li>
                        <li><a href="#">Toyota</a></li>
                        <li><a href="#">Volvo</a></li>
                        <li><a href="#">Audi</a></li>
                        <li><a href="#">Buick</a></li>
                        <li><a href="#">Chevrolet</a></li>
                        <li><a href="#">Dodge</a></li>
                        <li><a href="#">Fiat</a></li>
                        <li><a href="#">GMC</a></li>
                        <li><a href="#">Hyundai</a></li>
                        <li><a href="#">Jaguar</a></li>
                        <li><a href="#">Kia</a></li>
                        <li><a href="#">Lexus</a></li>
                        <li><a href="#">Mazda</a></li>
                        <li><a href="#">MINI</a></li>
                        <li><a href="#">Nissan</a></li>
                        <li><a href="#">RAM</a></li>
                        <li><a href="#">Smart</a></li>
                        <li><a href="#">Suzuki</a></li>
                        <li><a href="#">Volkswagen</a></li>               
                    </ul>
                
                </div>
                
            </div>

            <div class="col-xs-8">
               	<div class="col-xs-12 box">
                    <div class="arrow-left">
                        <img src="../../public/img/arrow-start-here.gif" class="arrow-here">    
                    </div>
                       
            	   <h2 class="colored subtitle-home">Select Your Car For Every Possible Rebate:</h2>
            	            
                    <div class="col-xs-7">
                        <img src="../../public/img/picture1.jpg" class="img-responsive" alt="Auto">
                    </div>

                    <div class="col-xs-5">
                        <form role="form">
                            <div class="form-group">
                                <label for="exampleInputMake">MAKE</label>
                                <select id="cmbMake" class="form-control">
                                    <option value="0">select a Make</option>
                                </select>
                            </div>
                        
                            <div class="form-group">
                                <label for="exampleInputModel">MODEL</label>
                                <select id="cmbModel" class="form-control">
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputZipcode">ZIP CODE</label>
                                <input type="text" class="form-control" id="ZipCode"></input>
                            </div>
                            <button id="sendForm" class="btn btn-default button normal">Submit</button>
                            <span class="help-block">Shown: Acura RDX</span> 
                        </form>
                    </div>

                	<div class="col-xs-4 home-feature">
                        <h5>Our Proprietary Technology</h5>
                        <p>
    				        connects over 1 million customers with dealerships each year. Our software knows what new car dealers are willing to offer every possible rebate
                        </p>
                    </div>


                	<div class="col-xs-4 home-feature">
                        <h5>We connect YOU</h5>
                        <p>
    				        with top internet dealerships ready to offer you every possible rebate on a new car
                        </p>
                    </div>
                    
                	<div class="col-xs-4 home-feature">
                        <h5>No obligation to buy. it's free</h5>
                        <p>
    				        to try our process out.
                        </p>
                    </div>
    			</div>
    			<div class="col-xs-12 box">            
                	<h3>Why You Should Look for New Car Rebates:</h3>
                    <p>
                        New Car Rebates are cash back offers or incentive offers that the manufacturer offers you, the consumer in order to entice you to buy their car. The reason for rebates are the ability to move more cars and trucks off the lots to make room for new ones, or if sales for those cars are not what was forecasted... What does that mean to you? You can get a car for a great price by using rebates to your advantage, without having to go through the hassle of negotiating back and forth with dealerships.
                        <br>
                        Rebates are always expiring, and you need to take advantage of available rebates before inventory runs out, or the manufacturer decides to cancel the rebate.
                    </p>
                   	<h4>This Month's Best Car Rebates:</h4>
                    <p>This Month's Top 10 Most Requested Cars:</p>

                    <ul class="list-unstyled two-columns top10">
                    
                        <li><a href="#"><strong>2013 Toyota Tacoma</strong></a></li>
                        <li><a href="#"><strong>2013 Hyundai Sonata</strong></a></li>
                        <li><a href="#"><strong>2013 Toyota RAV4</strong></a></li>
                        <li><a href="#"><strong>2013 Toyota Camry</strong></a></li>
                        <li><a href="#"><strong>2013 Ford F-150</strong></a></li>
                        
                        <li><a href="#"><strong>2013 Honda Accord</strong></a></li>
                        <li><a href="#"><strong>2013 Honda Civic</strong></a></li>
                        <li><a href="#"><strong>2014 Subaru Forester</strong></a></li>
                        <li><a href="#"><strong>2014 Honda CR-V</strong></a></li>
                        <li><a href="#"><strong>2013 Toyota Corolla</strong></a></li>
                    </ul>
                </div>                
            </div>
            </div>
            <div class="row text-center small footer"> 
                <div class="col-xs-12">
                    &copy;2014 Autoweb.com. All Rights Reserved<br>
                    Become a Partner Dealer<br>
                    privacy policy 
                </div>
           </div>
        </div>

        <script languaje="javascript">
            $(document).ready(function (){
                var xhr = $.ajax({
                    type: 'GET',
                    url : 'http://sem.awadserver.com/WS/web/makes',
                    dataType : 'json',
                });

                xhr.done(function (data){
                    data.makes.forEach(function (item){
                        $("<option value=" + item.id +">" +item.name+ "</option>" ).appendTo("#cmbMake");    
                    });
                });
            });

            $("#cmbMake").on("change",function(){
                $("#cmbModel").html('');
                var xhr = $.ajax({
                    type: 'GET',
                    url : 'http://sem.awadserver.com/WS/web/makes/'+$(this).val()+'/models',
                    dataType : 'json',
                });

                xhr.done(function (data){
                    data.models.forEach(function (item){
                        $("<option value=" + item.id +">" +item.name + " " + item.year + "</option>" ).appendTo("#cmbModel");    
                    });
                });
            })

            $("#sendForm").on("click", function (e){
                e.preventDefault();
                window.location.href = "FAS.html?keyword=make-model+state-nw+"+$('#cmbMake option:selected').text().toLowerCase()+"-"+$('#cmbModel option:selected').text().split(" ")[0].toLowerCase()+"&publisher=&make="+$('#cmbMake option:selected').text()+"&model=" + $('#cmbModel option:selected').text();
            })
        </script>
    </body>
</html>